       @font-face {
           font-family: 'fontello';
           src: url('../font/fontello.ttf?49641039') format('truetype');
       }

       html {
           box-sizing: border-box;
       }

       *, *::before, *::after {
           box-sizing: inherit;
       }

       html, body {
           font-family: 'Roboto', sans-serif;
           font-size: 16px;
           overflow-x: hidden;
       }

       .clearfloat:after {
           content: "";
           display: table;
           clear: both;
       }

       small, ul, li {
           margin: 0;
           padding: 0;
       }

       a {
           text-decoration: none;
           color: gray;
       }

       p {margin: 0;}

       ul {
           list-style-type: none;
       }

       li {
           /* padding-bottom: 10px; */
       }

       address {
           font-style: normal;
       }

       .h {
           margin: 0;
           padding: 0;
       }

       .h--2 {
           font-size: 54px;
           margin-bottom: 90px;
       }

       .many>.h--2 {
           color: #fff;
       }

       
       
       .btn-info {
           background-color: #ff4e2e;
           width: 270px;
           height: 60px;
           color: white;
           font-size: 18px;
           cursor: pointer;
           border: 0;
       }

       .button {
           font-size: 1rem;
           text-align: center;
           cursor: pointer;
           padding: 10px 0;
           
       }

       .button--border {
           background-color: white;
           border: 1px solid #ff4e2e;
           color: #ff4e2e;
           width: 207px;
           padding: 13px 0px;
       }

       .button--orange {
           background-color: #ff4e2e;
           border: none;
           font-size: 18px;
           color: white;
           width: 270px;
           padding: 20px 0px;
       }

       .page-header {
           display: flex;
           position: relative;
           max-width: 1120px;
           align-items: center;
           justify-content: space-between;
           border: 1px solid blue;
           margin: 0 auto;
           margin-bottom: 20px;
           padding: 30px 40px;
       }

       .page-header__burger {
           display: none;
           position: relative;
           overflow: hidden;
           margin: 0;
           padding: 0;
           width: 46px;
           height: 36px;
           font-size: 0;
           text-indent: -9999px;
           appearance: none;
           box-shadow: none;
           border-radius: none;
           border: none;
           cursor: pointer;
           background-color: white;
       }

       .page-header__burger:focus {
           outline: none;
       }

       /* Рисуем линии */

       /* средняя */

       .page-header__burger span {
           display: block;
           position: absolute;
           top: 17px;
           left: 8px;
           right: 8px;
           height: 4px;
           background: red;
       }

       /* верхняя и нижняя */

       .page-header__burger span::before, .page-header__burger span::after {
           position: absolute;
           display: block;
           left: 0;
           width: 100%;
           height: 4px;
           background-color: red;
           content: "";
       }

       /* растояние линий от средней */

       .page-header__burger span::before {
           top: -9px;
       }

       .page-header__burger span::after {
           bottom: -9px;
       }

       /* анимация */

       /* Цвет в обычном состоянии */

       .burger-flash {
           background-color: white;
       }

       .burger-flash span {
           transition: background 0s 0.3s;
       }

       .burger-flash span::before, .burger-flash span::after {
           transition-duration: 0.3s, 0.3s;
           transition-delay: 0.3s, 0s;
       }

       .burger-flash span::before {
           transition-property: top, transform;
       }

       .burger-flash span::after {
           transition-property: bottom, transform;
       }

       /* состояние active при открытом меню  */

       .burger-flash.is-active {
           background-color: white;
       }

       .burger-flash.is-active span {
           background: white;
       }

       .burger-flash.is-active span::before {
           top: 0;
           transform: rotate(45deg);
       }

       .burger-flash.is-active span::after {
           bottom: 0;
           transform: rotate(-45deg);
       }

       .burger-flash.is-active span::before, .burger-flash.is-active span::after {
           transition-delay: 0s, 0.3s;
       }

       /* ----------------------- */

       .menu__list {
           position: relative;
           list-style-type: none;
           padding: 0;
           z-index: 10;
       }

       .menu__link {
           display: inline-block;
           margin-right: 10px;
           cursor: pointer;
           border-bottom: 1px solid white;
       }

       .menu__link--active {
           color: #fc557c;
           border-bottom: 1px solid #fc557c;
       }

       .menu__page-left {
           cursor: pointer;
           padding-left: 4px;
       }

       .page-header__phone {
           font-size: 25px;
           font-weight: bold;
           margin-right: 30px;
           line-height: 1;
       }

       .container-phone {
           display: flex;
           align-items: center;
       }

       .menu-right__btn-order-call {
           width: 205px;
           height: 45px;
           background-color: white;
           font-size: 1rem;
           color: #f5515f;
           cursor: pointer;
           align-self: center;
           border: 1px solid #f5515f;
       }

       @media (max-width: 1024px) {
           .page-header__burger {
               display: block;
               width: 40px;
               height: 40px;
           }
           .menu {
               display: none;
           }
           /*Блок с пунктами меню*/
           .menu__list {
               display: none;
               position: absolute;
               min-width: 150px;
               height: 56px;
               left: 50px;
               top: 25px;
               font-weight: bold;
               color: #fff;
               font-size: 14px;
               line-height: 56px;
               text-align: center;
               text-transform: uppercase;
               text-decoration: none;
               background-color: grey;
               transition: background-color 0.1s linear, color 0.1s linear;
               z-index: 1;
           }
           /*расскрашиваем блок с пунктами меню*/
           .menu__link {
               display: block;
               width: 100%;
               height: 56px;
               font-weight: bold;
               color: #fff;
               font-size: 14px;
               line-height: 56px;
               text-align: center;
               text-transform: uppercase;
               text-decoration: none;
               background-color: grey;
               transition: background-color 0.1s linear, color 0.1s linear;
           }
           .menu__link:hover {
               background-color: #2768c1;
           }
           .menu__link:active {
               background-color: #2768c1;
               color: #fff;
           }
       }

       @media (max-width: 680px) {
           .page-header {
               height: 80px;
               padding: 0 20px;
           }
           .page-header__phone {
               position: static;
           }
           .button--icon {
               font-size: 0;
               width: 30px;
               height: 30px;
               background: url(../img/tel.png) center center no-repeat;
               border: none;
               cursor: pointer;
               padding: 0;
           }
       }



       @media (max-width: 430px) {
           .page-header__phone {
               font-size: 18px;
           }
       }

       .start-screen {
           position: relative;
           max-width: 1160px;
           height: 100%;
           width: 100%;
           border: 4px solid blue;
           margin: 0 auto;
           margin-bottom: 100px;
           padding-left: 40px;
       }

       .start-screen__desc {
           border: 2px solid red;
           display: flex;
           flex-direction: column;
           float: left;
           bottom: 0;
           padding-bottom: 170px;
           padding-top: 180px;
       }

       .h--1 {
           font-size: 80px;
           margin-bottom: 13px;
       }

       .start-screen__profession {
           color: grey;
           font-size: 25px;
           /* margin-top: 13px; */
           margin-bottom: 30px;
       }

       .start-screen__btn-link {
           margin-top: 43px;
           margin-bottom: 200px;
           background-color: #ff4e2e;
           width: 270px;
           color: white;
           font-size: 18px;
           cursor: pointer;
           text-align: center;
           padding: 19px 40px;
           z-index: 1;
       }

       .photo {
            float: left;
            object-fit: contain;
            width: 100%;
            height: 100%;
            background: url(../img/chel-fon2.png) right bottom no-repeat;
            background-size: contain;
            border: 3px solid #2768c1;
       }

       .start-screen__photo {
            position: absolute;
            bottom: 0;
            right: -30%;
       }

       .photo__main {
           position: absolute;
           object-fit: contain;
           height: 100%;
           right: 280px;
       }

       @media (max-width: 1350px) {
           .start-screen__btn-link {margin-bottom: 180px;}
           
           .photo {height: 525px;}
           
           .start-screen__photo {right: -18%;}
           
           .photo__main {right: 230px;}
           
           .start-screen__desc {padding-top: 140px;}
       }

       @media (max-width: 1170px) {
           .h--1 {font-size: 64px;}
       }

       @media (max-width: 1024px) {
           .photo {height: 100%;}

            .start-screen__photo {right: -25%;}
           
            .photo__main {right: 280px;}
            
            .h--1 {font-size: 54px;}
       }

       @media (max-width: 940px) {
            .photo__main {
               right: 240px;
           }
           .h--1 {
               font-size: 45px;
           }
           .start-screen__profession {
               font-size: 20px;
           }
           .start-screen__desc {
               padding-bottom: 150px;
           }
       }

       @media (max-width: 840px) {
           .start-screen__photo {right: -28%;}
           
           .photo__main {right: 230px;}
           
           .h--1 {font-size: 40px;}
           
           .start-screen__profession {
               font-size: 18px;
           }
           .start-screen__btn-link {
               margin-bottom: 150px;
           }
           .start-screen__desc {
               padding-bottom: 130px;
           }
       }

       @media (max-width: 740px) {
           .photo {
               height: 420px;
           }
           .photo__main {
               right: 220px;
           }
           .h--1 {
               font-size: 35px;
           }
           .start-screen__profession {
               font-size: 16px;
           }
           .start-screen__btn-link {
               margin-bottom: 140px;
           }
       }

       /* с этого момента - мобильная */

       @media (max-width: 680px) {
           .start-screen {
               display: flex;
               justify-content: center;
               align-items: flex-end;
               flex-direction: column-reverse;
               align-items: center;
               height: 100%;
               padding-left: 0;
           }
           .start-screen__desc {
               align-items: center;
               width: 100%;
               margin: 0;
               padding-top: 20px;
               padding-bottom: 0;
           }
           .start-screen__photo {
               position: relative;
               width: 100%;
               right: auto;
               background-position-x: right;
           }
           .photo__main {
               position: absolute;
               height: 400px;
               right: 70px;
               bottom: 0;
           }
           .start-screen__btn-link {
               margin-bottom: 30px;
           }
       }

       @media (max-width: 430px) {
           .start-screen {
               margin-bottom: 10px;
           }
           .photo {
               height: 380px;
           }
           .photo__main {
               right: 30px;
               height: 350px;
           }
           .h--1 {
               font-size: 30px;
           }
           .start-screen__profession {
               text-align: center;
           }
       }

       @media (max-width: 370px) {
           .photo {
               height: 310px;
               background-size: 360px;
           }
           .photo__main {
               right: 20px;
               height: 300px;
           }
       }

       /* Летающий блок */

       .flying-block {
           position: absolute;
       }

       .flying-block:hover .flying-block__element1 {
           transform: rotate(-20deg);
           transition: 1s, 1s;
           opacity: 1;
       }

       .flying-block:hover .flying-block__element2 {
           transform: rotate(-15deg);
           transition: 1s, 1s;
           opacity: 1;
       }

       .flying-block:hover .flying-block__element3 {
           transform: rotate(-25deg);
           transition: 1s, 1s;
           opacity: 1;
       }

       .flying-block:hover .flying-block__element4 {
           transform: rotate(25deg);
           transition: 1s, 1s;
           opacity: 1;
       }

       .flying-block:hover .flying-block__element5 {
           transform: rotate(10deg);
           transition: 1s, 1s;
           opacity: 1;
       }

       .flying-block__element1, .flying-block__element2, .flying-block__element3, .flying-block__element4, .flying-block__element5 {
           position: absolute;
           top: calc(50% - 2rem);
           left: 50%;
           font-size: 32px;
           font-weight: bold;
           transform: rotate(20deg);
           transition: 1s;
           opacity: 0;
           font-family: fontello;
           background: linear-gradient(180deg, #fc7230, #ff2f96);
           background-clip: text;
           /*так надо:)*/
           -webkit-background-clip: text;
           /*так надо:)*/
           color: transparent;
       }

       .flying-block__element1 {
           top: 20px;
           left: 20px;
       }

       .flying-block__element2 {
           top: 70px;
           left: 450px;
       }

       .flying-block__element3 {
           top: 160px;
           left: 820px;
       }

       .flying-block__element4 {
           top: 400px;
           left: 720px;
       }

       .flying-block__element5 {
           top: 420px;
           left: 150px;
       }

       @media (max-width: 1350px) {
           .flying-block__element3 {
               top: 260px;
               left: 570px;
           }
       }

       @media (max-width: 1024px) {
           .flying-block__element3 {
               top: 356px;
               left: 446px;
           }
       }

       @media (max-width: 768px) {
           .flying-block__element2 {
               top: 70px;
               left: 590px;
           }
           .flying-block__element4 {
               top: 400px;
               left: 520px;
           }
       }

       @media (max-width: 680px) {
           .flying-block__element1, .flying-block__element2, .flying-block__element3, .flying-block__element4, .flying-block__element5 {
               font-size: 28px;
           }
           .flying-block__element2 {
               top: 70px;
               left: 420px;
           }
           .flying-block__element3 {
               top: 356px;
               left: 346px;
           }
           .flying-block__element2 {
               top: 70px;
               left: 430px;
           }
           .flying-block__element4 {
               top: 400px;
               left: 320px;
           }
       }

       @media (max-width: 430px) {
           .flying-block__element3 {
               top: 356px;
               left: 300px;
           }
           .flying-block__element2 {
               top: 70px;
               left: 300px;
           }
           .flying-block__element4 {
               top: 400px;
               left: 120px;
           }
           .flying-block__element5 {
               top: 190px;
               left: 150px;
           }
       }

       @media (max-width: 430px) {
           .flying-block__element3 {
               top: 356px;
               left: 240px;
           }
           .flying-block__element2 {
               top: 70px;
               left: 240px;
           }
       }

       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       /* <!-- ******* Что я делаю ******* --> */

       .my-work {
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           align-items: center;
           width: 100%;
           max-width: 1200px;
           height: 100%;
           font-size: 24px;
           margin: 0 auto;
           margin-bottom: 150px;
           background-color: white;
           z-index: 1;
           border: 1px solid blue;
       }

       /* .my-works__title {margin-bottom: 0px;} */

       .my-work__list {
           display: flex;
           padding: 0 0 90px 0;
           flex-wrap: nowrap;
           align-items: center;
           justify-content: space-between;
           border: 1px solid #fc7230;
       }

       .my-work__item {
           width: 270px;
           height: 170px;
           align-items: center;
           margin: 5px;
           font-size: 20px;
           color: #8993ad;
           text-align: center;
           padding-top: 90px;
           padding-left: 5px;
           padding-right: 5px;
       }

       .my-work__item--1 {
           background: url('../img/my-work-icon-1.png') 50% -0 no-repeat;
       }

       .my-work__item--2 {
           background: url('../img/my-work-icon-2.png') 50% -0 no-repeat;
       }

       .my-work__item--3 {
           background: url('../img/my-work-icon-3.png') 50% -0 no-repeat;
       }

       .my-work__item--4 {
           background: url('../img/my-work-icon-4.png') 50% -0 no-repeat;
       }

       .my-work__btn-link {
           margin-top: 43px;
           background-color: #ff4e2e;
           width: 270px;
           color: white;
           font-size: 18px;
           cursor: pointer;
           text-align: center;
           padding: 19px 40px;
           z-index: 1;
       }

       @media (max-width: 1200px) {
           .my-work__list {
               flex-wrap: wrap;
               justify-content: space-evenly;
           }
           .my-work {
               width: 550px;
           }
       }

       @media (max-width: 1140px) {
           .my-work__list {
               flex-wrap: wrap;
               justify-content: space-evenly;
           }
       }

       @media (max-width: 768px) {
           .my-work>.h--2 {
               margin-bottom: 50px;
           }
           .my-work {
               margin-bottom: 100px;
           }
       }

       @media (max-width: 680px) {
           .my-work {
               height: 100%;
           }
       }

       @media (max-width: 640px) {
           .my-work>.h--2 {
               margin-bottom: 20px;
           }
           .my-work {
               width: 300px;
           }
       }

       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       /* --- Приверы работ ----- */

       #work-example {
           display: flex;
           width: 100%;
           max-width: 1170px;
           position: relative;
           flex-direction: column;
           justify-content: space-evenly;
           align-items: center;
           margin: 0 auto;
           margin-bottom: 100px;
       }

       .slider {
           position: relative;
           margin: 0 auto;
           /* margin-top: 100px; */
           margin-bottom: 80px;
           width: 100%;
           /* height: 390px; */
           height: 100%;
           display: flex;
           flex-direction: row;
           justify-content: space-evenly;
           align-items: center;
       }

       .slider__box {
            position: relative;           
            width: 32%;
            min-width: 370px;
            margin: 0 10px;
       }


            .slider__text {
                display: block;
                margin-top: 35px;
                font-size: 20px;
                color: #8993ad;
                text-align: center;
                }

       .slider__button {
           width: 60px;
           height: 60px;
           position: absolute;
           border-radius: 30px;
           border: none;
           background: url(../img/arrow.png) center center no-repeat;
           box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.5);
           cursor: pointer;
           
       }

       .slider__button--arrowLeft {
           left: -20px;
           transform: translateY(-30px);
       }

       .slider__button--arrowRight {
           transform: translateY(-30px) rotate(180deg);
           right: -20px;
       }

       .work-example__radio {
           display: none;
           margin-bottom: 40px;
       }

       @media (max-width: 1200px) {
           .slider {
               /* max-width: 945px; */
               max-width: 780px;
               margin-bottom: 40px;
           }
           #slider__arrow-right {
               left: 260px;
           }
           .work-example__radio {
               display: block;
           }
           #slider__arrow-left, #slider__arrow-right {
               display: none;
           }
           
            .slider :nth-child(n + 3)
                {display: none;}
       }

       @media (max-width: 840px) {
           .slider {
               /* max-width: 375px; */
               max-width: 390px;
           }
           .slider__box--3 {
               display: none;
           }
       }

       @media (max-width: 768px) {
            .slider :not(:first-child) {
               display: none;
           }

           .slider :first-child {
            max-width: 370px;
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
           }

           .h--2 {
               text-align: center;
           }
       }

       @media (max-width: 680px) {
           .slider {
               margin-bottom: 30px;
           }
           .slider__box--1 {
               margin-left: 20px;
               margin-right: 20px;
           }
           .slider__button {
               display: none;
           }
           .h--2 {
            margin-top: 70px;
           }
       }

       @media (max-width: 420px) {
            .slider__pic {
                width: 280px;
                display: block;
                margin: 0 auto;
            }
            .slider__text {
                font-size: 16px;
            }
            .button {
                width: 280px;
            }
            .button--icon {
                width: 32px;
            }
       }

       #wrapper-many {
           width: 100%;
           margin: 0 auto;
           background: linear-gradient(to right top, #fc7230, #ff2f96);
           display: flex;
           justify-content: center;
           align-items: center;
           align-content: center;
           flex-direction: column;
           /* text-align: center; */
           position: relative;
       }

       .many {
           max-width: 945px;
           margin: 0 auto;
           margin-left: 40px;
           margin-right: 40px;
           margin-top: 60px;
           margin-bottom: 60px;
       }

       .h--2 {
           font-size: 45px;
           line-height: 48px;
       }

       .many__explanation {
           color: white;
           font-size: 18px;
           line-height: 40px;
       }

       #wrapper-many:hover .fly6, #wrapper-many:hover .fly7, #wrapper-many:hover .fly8, #wrapper-many:hover .fly9, #wrapper-many:hover .fly10 {
           transform: rotate(-20deg);
           transition: 1s, 1s;
       }

       .fly6, .fly7, .fly8, .fly9, .fly10 {
           position: absolute;
           font-size: 2rem;
           font-weight: bold;
           color: white;
           transform: rotate(20deg);
           transition: 1s;
           font-family: fontello;
           opacity: .8;
       }

       .fly6 {
           top: 20px;
           left: 20px;
       }

       .fly7 {
           top: 200px;
           left: 60px;
       }

       .fly8 {
           top: 80px;
           right: 180px;
       }

       .fly9 {
           top: 20px;
           right: 70px;
       }

       .fly10 {
           top: 250px;
           right: 150px;
       }

       @media (max-width: 1100px) {
           .h--2 {
               font-size: 38px;
               text-align: center;
           }
           .many__explanation {
               font-size: 16px;
           }
       }

       @media (max-width: 768px) {
           .fly8 {
               top: 40px;
           }
           .fly10 {
               top: 280px;
           }
           .h--2 {
               font-size: 30px;
           }
           .many__explanation {
               font-size: 16px;
           }
           .many {
               max-width: 650px;
           }
       }

       @media (max-width: 680px) {
           .many {
               margin-left: 15px;
               margin-right: 15px;
           }
           .fly6, .fly7, .fly8, .fly9, .fly10 {
               display: none;
           }
           .many__explanation {
               font-size: 15px;
           }
           .h--2 {
               font-size: 28px;
           }
       }

       @media (max-width: 370px) {
           #wrapper-many {
               height: 420px;
           }
           .many__explanation {
               line-height: 30px;
           }
           .h--2 {
               font-size: 25px;
               padding-bottom: 0;
           }
       }

       .footer__menu {
           border: 3px solid blue;
           max-width: 1210px;
           height: 260px;
           display: flex;
           justify-content: space-between;
           align-items: stretch;
           align-content: flex-start;
           margin: 0 auto;
           padding: 0 40px;
       }

       .footer__menu-content {
           font-size: 18px;
           color: grey;
           padding-top: 85px;
       }

       .footer__menu-contacts {
           font-size: 25px;
           color: grey;
           padding-top: 85px;
       }

       .footer__menu-tel {
           margin-bottom: 25px;
           display: block;
       }

       .font-icon {
           font-family: fontello;
           background: linear-gradient(180deg, #fc7230, #ff2f96);
           background-clip: text;
           /*так надо:)*/
           -webkit-background-clip: text;
           color: transparent;
       }

       .footer__menu-link {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           padding: 2rem 0 0 0;
           font-size: 14px;
           color: grey;
       }

       .item-link-share>li {
           float: left;
       }

       .bg-facebook {
           width: 16px;
           height: 28px;
           background: url('../img/css_sprites.png') -113px -10px;
           float: left;
           margin: 30px 12px;
       }

       .bg-instagram {
           width: 25px;
           height: 25px;
           background: url('../img/css_sprites.png') -59px -58px;
           float: left;
           margin: 30px 12px;
       }

       .bg-ok {
           width: 28px;
           height: 28px;
           background: url('../img/css_sprites.png') -10px -10px;
           float: left;
           margin: 30px 12px;
       }

       .bg-twitter {
           width: 29px;
           height: 25px;
           background: url('../img/css_sprites.png') -10px -58px;
           float: left;
           margin: 30px 12px;
       }

       .bg-vk {
           width: 35px;
           height: 21px;
           background: url('../img/css_sprites.png') -58px -10px;
           float: left;
           margin: 30px 12px;
       }

       .footer__lower {
           position: relative;
           width: 100%;
           height: 30px;
           background-color: #000;
           color: white;
           font-size: 0.8rem;
           text-align: center;
       }

       .footer__lower span {
           line-height: 30px;
       }

       @media (max-width: 840px) {
           .footer__menu-content {
               font-size: 15px;
           }
           .footer__menu-contacts {
               font-size: 20px;
           }
       }

       @media (max-width: 680px) {
           .footer__menu {
               flex-direction: column;
               height: 100%;
               padding: 0 20px;
           }
           .footer__menu-content {
               padding-top: 45px;
               padding-bottom: 30px;
           }
           .footer__menu-contacts {
               padding-left: 0px;
               padding-top: 0px;
               padding-bottom: 45px;
           }
           .btn-info__footer {
               width: 100%;
               height: 55px;
           }
           .bg-vk, .bg-facebook, .bg-twitter, .bg-instagram {
               margin: 55px 10px;
           }
       }


.goto-home {
    position: fixed;
    font-size: 10px;
    border: 1px solid green;
    padding: 3px;
    right: 20px;
    bottom: 10px;
    z-index: 3;
}